name: test

on:
  push:
    branches:
      - main
  pull_request:

env:
  DATABASE_URL: "postgres://kenzietandun@127.0.0.1:5432/kenzietandun?sslmode=disable"

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - run: git submodule init && git submodule update
      - run: dbmate drop && dbmate up

      - run: cd backend/
      - run: gleam deps download
      - run: gleam test
      - run: gleam format --check src test
